*,*::after,*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --White: hsl(0, 0%, 100%);
    --Light-grayish-violet: hsl(270, 3%, 87%);
    --Dark-grayish-violet: hsl(279, 6%, 55%);
    --Very-dark-violet: hsl(278, 68%, 11%);
    --less-dark-violet: hsl(278, 58%, 26%);
    }

@media screen and (min-width: 1377px){
body{
font-family: 'Space Grotesk', sans-serif;
background-color: var(--White);
}
/* modal toggle */


.modal-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top:14vw;
    margin-left:50%;
    position:absolute;
}
.invisible {
    opacity: 0;
    z-index: -1;
}
.visible {
    opacity: 1;
    z-index: 1;
}
.heading{
    margin-top:25px;
}
.confirmation{
    margin-top:15px;
}
.side-img-container{
   float:left;
   width:32%;
}
.continue{
    width: 25rem;
}
.flex-container{
    width:60%;
    display: flex;
    align-content: center;
    justify-content: center;
    margin:0 auto;
}
.card-front{
    display: inline-block;
    position: absolute;
    top:100px;
    left:140px;
}
.card-back{
    display: inline-block;
    position: absolute;
    top:370px;
    left:240px;
   
}

form{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction:column;
    margin-top:10rem;
}
label{
    font-size: 14px;
    margin-right:93px;
    margin-top: 25px;
    margin-bottom: 5px;
}
input{
    font-size: 18px;
    padding:10px;
    width:25rem;
    border-radius:5px;
    border: 1px solid var(--Light-grayish-violet);
}
::placeholder{
    color: var(--Light-grayish-violet);
}
#exp-mm{
    width:6rem;
}
#exp-yy{
    width: 6rem;
}
#cvc{
    width:11.3rem;
    margin-left:21px;
}
.labels-bot{
    margin-top: 25px;
}
button{
margin-top:3rem;
font-size:18px;
padding:10px;
color:var(--Light-grayish-violet);
border-radius: 5px;
border: 1px solid var(--Very-dark-violet);
background-color: var(--Very-dark-violet);
}
button:hover{
background: linear-gradient(to bottom, hsl(249, 99%, 64%), hsl(278, 94%, 30%));
}
input:active {
border-image-source: linear-gradient(to bottom, hsl(249, 99%, 64%), hsl(278, 94%, 30%));
    border-width: 3pt;
    border-image-slice: 1;
}
.error {
    border: 1px solid hsl(0, 100%, 66%);
}
#logo{
    position:absolute;
    top:25px;
    right:340px;
}
.cardholder-number-card{
position:absolute;
top:135px;
left:25px;
font-size:30px;
letter-spacing: 2px;
color:var(--White)
}
.cardholder-name-card{
position: absolute;
top:200px;
left:25px;
font-size: 13px;
letter-spacing: 2px;
color: var(--White)
}
.expiration-card-mm {
    position: absolute;
    top: 200px;
    left: 370px;
    font-size: 13px;
    letter-spacing: 2px;
    color: var(--White)
}
.expiration-card-space {
    position: absolute;
    top: 200px;
    left: 393px;
    font-size: 13px;
    letter-spacing: 2px;
    color: var(--White)
}
.expiration-card-yy {
    position: absolute;
    top: 200px;
    left: 403px;
    font-size: 13px;
    letter-spacing: 2px;
    color: var(--White)
}
.cvc-backcard{
position:absolute;
top:115px;
left:366px;
font-size: 13px;
letter-spacing: 2px;
color: var(--White)
}
.error-span-exp{
    position:absolute;
    bottom:250px;
    right:412px;
}
.error-span-cvc {
    position: absolute;
    bottom: 250px;
    right: 634px;
}
.error-span-number{
    margin-top: 4px;
}
span{
    opacity: 0;
    font-size:12px;
    color:hsl(0, 100%, 66%);
}
.span-error{
    opacity:1;
}

}
@media screen and (max-width: 1376.999px) {
body {
        font-family: 'Space Grotesk', sans-serif;
        background-color: var(--White);
        
    }
    .modal-container {
     display: flex;
     align-content: center;
     justify-content: center;
     /* position: absolute; */
     align-items: center;
     flex-direction: column;
     margin-top:15vh;
    }
    .invisible {
        opacity: 0;
        z-index: -1;
        display:none;
        }
    
    .visible {
        opacity: 1;
        z-index: 1;
        display:flex;
        }
    #imgMain{
        width:100%;
        height: 240px;
    }
    .card-front{
        position: absolute;
        top:8.2rem;
        left:1rem;
        z-index: 1;
    }
    .card-back{
        position:absolute;
        top:3rem;
        left:5rem;
    }
    img {
        max-width: 100%;
        }
    #frontCard{
        width:17rem;
    }
    #backCard{
        width: 17rem;
    }
    #logo{
        position:absolute;
        right:12.5rem;
        width: 3.5rem;
        top:1.3rem;
    }
    .cardholder-number-card{
        color: var(--White);
        position:absolute;
        top:5rem;
        left:1rem;
    }
    .cardholder-name-card{
        color: var(--White);
        position: absolute;
        top: 7.5rem;
        left: 1rem;
        font-size: 11px;
    }
    .expiration-card-mm{
        color: var(--White);
        position: absolute;
        top: 7.5rem;
        left:12rem;
        font-size: 11px;
    }
    .expiration-card-space{
        color: var(--White);
        position: absolute;
        top: 7.5rem;
        left: 14rem;
        font-size: 11px;
    }
    .expiration-card-yy{
        color: var(--White);
        position: absolute;
        top: 7.5rem;
        left: 15rem;
        font-size: 11px;
    }
    .cvc-backcard{
        color: var(--White);
        position: absolute;
        top: 4.2rem;
        left: 13.5rem;
        font-size: 10px;
    }


    .confirmation{
        color:var(--Dark-grayish-violet)
    }
    .flex-container{
        display: flex;
        align-content: center;
        justify-content: center;
        flex-direction: column;
        margin-top:3rem;
    }
    form{
        display:grid;
        place-items:center;
    }
    label{
        display: inline-block;
        margin-top:1rem;
        font-size:15px;
        margin-left:1.2rem;
    }
    input{
        font-size: 18px;
        padding: 14px;
        width: 21rem;
        border-radius: 10px;
        border: 1px solid var(--Light-grayish-violet);
        margin-left:1.2rem;
        margin-top:0.5rem;
    }
    ::placeholder {
        color: var(--Light-grayish-violet);
    }
    .exp-inputs{
        display:flex;
    }
    #exp-mm {
        width: 5rem;
        }
    
    #exp-yy {
        width: 5rem;
        margin-left:0.5rem;
        }
    
    #cvc {
        width: 10rem;
        margin-left: 0.5rem;
        }
    .error-span-exp{
        position: absolute;
        font-size: 11px;
        left:1.2rem;
        bottom:-1rem;
        }
    .error-span-cvc{
        position: absolute;
        left:12.5rem;
        bottom:-1rem;
        font-size:11px;
        }
    .error-span-number{
        font-size: 11px;
        margin-left:1.5rem;
    }
    #cvc-label{
        margin-left:2.5rem;
    }
    button {
        margin-top: 2rem;
        /* margin-left:1.2rem; */
        font-size: 18px;
        padding: 10px;
        color: var(--Light-grayish-violet);
        border-radius: 5px;
        border: 1px solid var(--Very-dark-violet);
        background-color: var(--Very-dark-violet);
        width: 21rem;
    }

    button:hover {
        background: linear-gradient(to bottom, hsl(249, 99%, 64%), hsl(278, 94%, 30%));
    }

    input:active {
        border-image-source: linear-gradient(to bottom, hsl(249, 99%, 64%), hsl(278, 94%, 30%));
        border-width: 3pt;
        border-image-slice: 1;
    }

    .error {
        border: 1px solid hsl(0, 100%, 66%);
    }
    span {
        opacity: 0;
        color: hsl(0, 100%, 66%);
        }
    
    .span-error {
        opacity: 1;
        }
}
